*,
::after,
::before {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  padding: 0;
  margin: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  margin-bottom: 2.5rem;
}
thead th {
  vertical-align: bottom;
  color: #fff;
  background-color: #343a40;
  border-bottom: 2px solid #000;
}
tbody tr:nth-of-type(2n + 1) {
  background-color: rgba(0, 0, 0, 0.05);
}
td:first-child,
th:first-child {
  padding-left: 2rem;
}
td,
th {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
  text-align: left;
}
a,
button,
input[type="reset"] {
  border-style: none;
  outline: 0;
}
label,
legend {
  display: block;
  font-weight: 700;
  margin-bottom: 0.5rem;
  white-space: nowrap;
}
input[type="text"]:focus,
select:focus {
  border: 1px solid #00bc8c;
  outline: 0;
}
input[type="text"],
select {
  height: 38px;
  padding: 6px 10px;
  color: #212529;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
}
img { height: 60px }
#map {
  border: 1px solid rgba(0, 0, 0, 0.05);
  height: 80vh;
}
.btn {
  cursor: pointer;
  display: inline-block;
  padding: 0.7rem 1.4rem;
  margin: 0.3rem;
  border-radius: 0.15rem;
  box-sizing: border-box;
  text-decoration: none;
  font-family: Lato, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  color: #212529;
  background-color: #ccc;
  box-shadow: inset 0 -0.6rem 0 -0.35rem rgba(0, 0, 0, 0.17);
  text-align: center;
  position: relative;
}
.btn.btn-green {
  background-color: #00bc8c;
  color: #fff;
}
.btn.btn-blue {
  background-color: #3498db;
  color: #fff;
}
.blue {
  color: #3498db;
}
.caption {
  font-weight: bolder;
  font-size: 0.85rem;
  margin-bottom: 15px !important;
  text-align: center;
}
.card {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
}
.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
}
.container {
  margin: 0 0.8rem;
}
.collapse {
  display: block;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
}
.collapse.show {
  max-height: 99em;
  transition: max-height 0.5s ease-in-out;
}
.extra-marker .svg-inline--fa,
.extra-marker i.fa,
.extra-marker i.fab,
.extra-marker i.fas,
.extra-marker i.far,
.extra-marker i.fal {
  margin-top: 10px;
}
.extra-marker .svg-inline--fa,
.extra-marker i {
  font-size: 16px !important;
}
.form-group {
  margin: 0.5rem;
}
.green {
  color: #00bc8c;
}
.leaflet-container {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  font-size: 0.8rem;
}
.leaflet-popup-content p {
  margin: 10px 0;
}
.leaflet-popup-content-wrapper {
  border-radius: 5px;
}
.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  background: #eee;
  color: #333;
}
.orange {
  color: #f39c12;
}
.navbar {
  background-color: #343a40;
  border-radius: 0.5rem 0.5rem 0 0;
}
.navbar-light {
  background-color: #eee;
}
.title {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  font-weight: 300;
  font-size: 3rem;
}
.red {
  color: #e74c3c;
}
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
@media screen and (min-width: 800px) {
  .column {
    flex: 1;
  }
  .column-4 {
    flex: 4;
  }
}
