body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  padding: 0;
  margin: 0;
}
html, body {
  height: 100%;
  width: 100%;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  margin-bottom: 2.5rem;
}
thead th {
  vertical-align: bottom;
  color: #fff;
  background-color: #343a40;
  border-bottom: 2px solid #000;
}
tbody tr:nth-of-type(2n+1) {
  background-color: rgba(0,0,0,.05);
}
td:first-child, th:first-child {
  padding-left: 2rem;
}
td, th {
  padding: .75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
  text-align: left;
}
#map {
  border: 1px solid rgba(0,0,0,.05);
  height: 80vh;
}
.btn {
  cursor: pointer;
  display: inline-block;
  padding: 0.7em 1.4em;
  margin: 0 0.3em;
  border-radius: 0.15em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: Lato, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  background-color: #00bc8c;
  box-shadow: inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
  text-align: center;
  position: relative;
}
.caption {
  font-weight: bolder;
  font-size: 0.85rem;
  margin-bottom: 15px !important;
  text-align: center;
}
.card {
  border: 1px solid rgba(0,0,0,.2);
  border-radius: 5px;
}
.container {
  margin: 0 0.8rem;
}
.extra-marker .svg-inline--fa, .extra-marker i.fa, .extra-marker i.fab, .extra-marker i.fas, .extra-marker i.far, .extra-marker i.fal {
  margin-top: 10px;
}
.extra-marker .svg-inline--fa, .extra-marker i {
  font-size: 16px !important;
}
.leaflet-container {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  font-size: 0.8rem;
}
.leaflet-popup-content p { margin: 10px 0 }
.leaflet-popup-content-wrapper { border-radius: 5px }
.leaflet-popup-content-wrapper, .leaflet-popup-tip {
  background: #eee;
  color: #333;
}
.orange { color: #f39c12 }
.blue { color: #3498db }
.green { color: #00bc8c }
.title {
  margin-top: 1rem;
  margin-bottom: .5rem;
  font-weight: 300;
  font-size: 3rem;
}
.red { color: #e74c3c }
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
}
@media screen and (min-width: 800px) {
  .column {
    flex: 1
  }
  .column-4 {
    flex: 4
  }
}
